# Ejecutables específicos por carpeta
cpp/win64/bkh.exe
cpp/linux/bkh

# Ficheros de objetivos (da igual dónde estén)
**/objetivos.txt
**/objetivos_hash160.txt

# Ignorar configuración local de VS Code
.vscode/