# Ejecutables especificos por carpeta
bin/bkh.exe
bin/bkh
#Traduccion del ejecutable
bin/lang.ini

# Ficheros de objetivos (da igual donde esten)
**/blockchair*
**/objetivos.txt
**/objetivos_identidad.txt

# Ignorar configuracion local de VS Code
.vscode/